<h1>What's Happening?</h1>
<p>     
	<a href="http://leetaejay.com">Happening</a>
     is digital creative consultancy. You can find more about the founder
      <a href="http://nl.linkedin.com/in/leetaejay">TJ Lee</a>
      here.  
</p> 
